@import 'fonts.css';
.header {
  margin-bottom: 0.42666667rem;
}
.header .back {
  float: left;
  width: 15%;
  height: 1.344rem;
  padding: .2rem .1rem;
}
.header .back a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.74666667rem;
  text-align: center;
  line-height: 1.344rem;
  position: relative;
  left: 0.21333333rem;
}
.header .back::after {
  content: '';
  width: 0;
  height: 0;
  border-width: 0.29866667rem 0.64rem 0.29866667rem 0;
  border-style: solid;
  border-color: transparent #222020 transparent transparent;
  /*透明 灰 透明 透明 */
  position: absolute;
  top: 0.55466667rem;
  left: 0rem;
}
.header .search {
  float: right;
  width: 80%;
  padding: .2rem .1rem;
}
.header .search form {
  width: 100%;
  height: 100%;
  border-radius: 1.152rem;
  border: 1px solid #ffffff;
  transition: 0.2s box-shadow;
}
.header .search form input.search-inp {
  float: left;
  box-sizing: border-box;
  width: 76%;
  height: 1.344rem;
  font-size: 0.707407rem;
  color: #fff;
  background: #ff8d1b;
  padding: 0.42666667rem 0.512rem;
  border-radius: 1.152rem 0 0 1.152rem;
}
.header .search form input.search-inp::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #fff;
  /* placeholder字体大小  */
  font-size: 12px;
  /* placeholder位置  */
  text-align: left;
}
.header .search form button.search-btn {
  float: left;
  width: 24%;
  height: 1.344rem;
  background: #181717;
  color: #fff;
  font-size: 0.64740741rem;
  border-radius: 0 1.152rem 1.152rem 0;
}
body {
  margin-bottom: 0.42666667rem;
}
body .back {
  float: left;
  width: 15%;
  height: 1.344rem;
  padding: .2rem .1rem;
}
body .back a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.74666667rem;
  text-align: center;
  line-height: 1.344rem;
  position: relative;
  left: 0.21333333rem;
}
body .back::after {
  content: '';
  width: 0;
  height: 0;
  border-width: 0.29866667rem 0.64rem 0.29866667rem 0;
  border-style: solid;
  border-color: transparent #222020 transparent transparent;
  /*透明 灰 透明 透明 */
  position: absolute;
  top: 0.55466667rem;
  left: 0rem;
}
body .search {
  float: right;
  width: 80%;
  padding: .2rem .1rem;
}
body .search form {
  width: 100%;
  height: 100%;
  border-radius: 1.152rem;
  border: 1px solid #ffffff;
  transition: 0.2s box-shadow;
}
body .search form input.search-inp {
  float: left;
  box-sizing: border-box;
  width: 76%;
  height: 1.344rem;
  font-size: 0.707407rem;
  color: #fff;
  background: #ff8d1b;
  padding: 0.42666667rem 0.512rem;
  border-radius: 1.152rem 0 0 1.152rem;
}
body .search form input.search-inp::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #aab2bd;
  /* placeholder字体大小  */
  font-size: 12px;
  /* placeholder位置  */
  text-align: right;
}
body .search form button.search-btn {
  float: left;
  width: 24%;
  height: 1.344rem;
  background: #181717;
  color: #fff;
  font-size: 0.64740741rem;
  border-radius: 0 1.152rem 1.152rem 0;
}
.search-stats .header {
  font-size: 0.66133333rem;
  height: 1.728rem;
  line-height: 1.728rem;
  text-align: center;
  color: #1c85d4;
}
.search-stats .line {
  width: 100%;
  height: 1px;
  background: #1c85d4;
}
.search-list {
  box-sizing: border-box;
  background: #f5f5f5;
  padding-top: 0.29866667rem;
}
.search-list .list-wrap li {
  box-sizing: border-box;
  background: #fff;
  padding: 0.192rem;
  margin-bottom: 0.40533333rem;
  border-radius: 0.42666667rem;
  box-shadow: 0.08533333rem 0.04266667rem 0.64rem 0.08533333rem rgba(0, 0, 0, 0.1);
}
.search-list .list-wrap li a {
  display: block;
  width: 100%;
  height: 6.784rem;
}
.search-list .list-wrap li a .left-box {
  float: left;
  width: 4.736rem;
  height: 6.784rem;
}
.search-list .list-wrap li a .left-box img {
  border-radius: 0.42666667rem;
  width: 100%;
  height: 100%;
}
.search-list .list-wrap li a .right-box {
  float: left;
  width: 8.53333333rem;
  margin-left: 0.49066667rem;
}
.search-list .list-wrap li a .right-box .video-title {
  box-sizing: border-box;
  font-size: 0.61866667rem;
  padding: 0.42666667rem 0;
  color: #1c85d4;
  text-align: left;
  font-weight: bold;
}
.search-list .list-wrap li a .right-box .cont {
  box-sizing: border-box;
  padding: 0.14933333rem 0;
  font-size: 0.55466667rem;
}
.search-list .list-wrap li a .right-box .cont .p {
  width: 100%;
}
.search-list .list-wrap li a .right-box .cont .p:nth-child(2) {
  width: 8.32rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.search-list .list-wrap li a .right-box .cont .p .le {
  color: #3F4953;
}
.search-list .list-wrap li a .right-box .cont .p .ri {
  color: #7a8f25;
  overflow: hidden;
}
.search-list .list-wrap li a .right-box .cont .pt {
  margin-top: 0.17066667rem;
}
